<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <UIF.Properties.Settings>
            <setting name="Locale" serializeAs="String">
                <value />
            </setting>
        </UIF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UIF.Properties.Settings>
            <setting name="DefaultUILocale" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="AdditionalLocales" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ru-RU</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GitHubURL" serializeAs="String">
                <value>https://github.com/uif-unturned/UIF</value>
            </setting>
            <setting name="DiscordURL" serializeAs="String">
                <value>https://discord.gg/VhpM2ex</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.4.3</value>
            </setting>
            <setting name="TypeIgnore" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Small</string>
                        <string>Medium</string>
                        <string>Large</string>
                        <string>Decal</string>
                        <string>Mythic</string>
                        <string>Quest</string>
                        <string>Resource</string>
                        <string>NPC</string>
                        <string>Dialogue</string>
                        <string>Vendor</string>
                    </ArrayOfString>
                </value>
            </setting>
        </UIF.Properties.Settings>
    </applicationSettings>
</configuration>
